.sort-bar {
  font-size: 14px;
  font-weight: 500;
  max-width: 420px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: default;
  &__buttons {
    width: 250px;
    display: flex;
    justify-content: space-between;
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + .sort-bar__label {
      text-decoration: underline;
    }
  }
  &__label:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media only screen and (max-width: 740px) {
  .sort-bar {
    flex-wrap: wrap;
    margin: 0 auto 10px;
  }
}

@media only screen and (max-width: 500px) {
  .sort-bar {
    width: 200px;

    flex-wrap: wrap;
    height: 50px;
  }
}
