@import "../../styles-assets/extends";

.movie-detail {
  width: 573px;
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid #3f37c9;
  &__image {
    border: 1px solid #3f37c9;
  }
  &__info {
    margin-top: 10px;
  }
  &__data {
    display: flex;
    font-size: 14px;
    width: 200px;
    justify-content: space-between;
    padding-right: 25px;
    margin: 5px;
    font-style: italic;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__director {
    margin-bottom: 30px;
  }
}

.loader {
  @extend %loader;
  margin: 1000px auto;
}

.error {
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

@media only screen and (max-width: 620px) {
  .movie-detail {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    &__image {
      border: none;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    &__info,
    &__title,
    &__director,
    &__description {
      margin: 20px;
      padding: 0;
    }
    &__data {
      margin-left: 0;
    }
  }
}
